<h1>Hello World!</h1>
<hotelinv-rooms></hotelinv-rooms> 

<hotelinv-container> 
  <hotelinv-rooms></hotelinv-rooms> 
  <hotelinv-employee></hotelinv-employee>
  <h1> This is from ng content</h1>
</hotelinv-container>


<!--<div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">Welcome User!</div>
    <div *ngSwitchCase="'Admin'">
     
    </div>
  <div *ngSwitchDeafult>
     You Are Not Authorized to View This Page !
  </div>

</div> -->

<div>
  <ng-template #user></ng-template>
</div>







