<h1> Welcome to {{hotelname}} </h1>
<div [hidden]="hideRooms">
    Number Of Rooms:
<div [innerText]="numberOfRooms"> </div>
</div>


<div *ngIf="rooms.availableRooms >0">
    Rooms List
   
    <table>
        <tr>
            <th>Room Number </th>
            <th>Room Type </th>
            <th>Room Price </th>
            <th>Room Amenities </th>
            <th>Checkin time </th>
        </tr>
        
        <tr *ngFor="let room of roomlist"> 
            <td>{{room.roomNumber }}</td>
            <td>{{room.roomType }}</td>
            <td>{{room.price }}</td>
            <td>{{room.amenities }}</td>
            <td>{{room.checkinTime }}</td>
        </tr>
 </table>
</div>

<button (click)="toggle()">Toggle</button> 



